@model ComicWorld.Models.Comics

@{
    ViewBag.Title = "Comic World - Listado de Comics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Body {
    @using (Html.BeginForm("Crear", "Comics", FormMethod.Get))
    {
        <h1>Listado de Comics  <input type="submit" value="Nuevo Comic" class="botonListado" /></h1>
    }
    @using (Html.BeginForm())
    {
            <input id="busqueda" name="busqueda" type="text" placeholder="Busqueda.." class="busqueda">
            <input type="submit" value="Buscar" class="botonListado" />
    }
    @foreach (var lineaCom in Model.Listado)
    {   
        <div class="responsive">
          <div class="img">
            <a href="@Url.Action("Detalle", new { lineaCom.id })">
                <img src="@lineaCom.foto">
            </a>
            <div class="desc">@Html.ActionLink(lineaCom.titulo, "Detalle", new { lineaCom.id }, new { @class = "desc" })</div>
          </div>
        </div>
    }
}

